* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0)
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .nav ul {
    margin: 0;
  }

  .nav li {
    display: inline;
  }

  .nav a {
    display: inline-block;
    padding: .2em;
    color:rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 2px solid white;
  }

  .main-nav {
    text-align: right;
    font-size: 1.1em;
    font-weight: bold;
  }

  .main-nav li {
    padding: 0, 2%;
  }

  .nav a:hover {
    background-color: rgba( 255, 255, 255, .3);
  }

  .main-header {
    background-color: rgb(230, 185, 62);
    background-size: cover;
    padding: 25px;
    font-size: 1em;
    font-weight: bold;
    border-left: solid black 5px;
    border-right: solid black 5px;
    display: flex;
    justify-content: space-between;
  }

  .second-header {
    background-color: rgb(104, 138, 85);
    background-image: url("./Images/background-hexagon.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
    padding: 40px;
    font-weight: bold;
    border: 5px solid black;
  }

  .second-header-text {
    background-color: rgb(35, 155, 155);
    text-align: right;
    font-size: 1em;
    max-width: 10%;
  }

  h1 {
    display: inline;
    margin: 0px;
    font-weight: bold;
  }

  .label {
    /* display: inline; */
    position: relative;
    background-color: thistle;
    top: 45%;
    max-width: 45%;
  }

  h3 {
    font-size: .5rem;
  }
  /* h3 {
    display: inline;
    position: relative;
    background-color: thistle;
    top: 70%
  }
  .image-info {
    display: inline;
    position: relative;
    background-color: thistle;
    top: 80%;
    left: 0px;

  } */

  .main-header-text {
    background-color:rgb(35, 155, 155);
  }
  
  p {
    text-align: right;
    display: inline;
    margin: 0px;
    font-weight: bold;

  }

  .about-section {
    margin: 1em;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
  }  

  .container-2 {
    display:flex;
    /* position: relative; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .container-content {
    /* font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    width: 200px;
    color:rgb(104, 138, 85);
    margin:10px 0px 10px 100px;
    padding-right:10px;
    text-align:right; */
    flex: 0 0 20%;
    text-align: right;
    padding-right: 10px;
    border-right: green 4px solid;
    font-size: 35px;
  }

  .container-2 div {
    flex: 0 0 75%
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .individual-image {
    border: 4px teal solid;
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 10px;
  }

  .project-one {
    background-image: url("./Images/work_image_1.jpeg");
    background-size: contain;
    
    /* background-repeat: no-repeat; */
  }
  .project-two {
    background-image: url("./Images/work_image_2.jpeg");
    background-size: contain;
    /* background-repeat: no-repeat; */
  }
  .project-three {
    background-image: url("./Images/work_image_3.jpeg");
    background-size: contain;
  }
  .project-four {
    background-image: url("./Images/work_image_4.jpeg");
    background-size: contain;
  }
  .project-five {
    background-image: url("./Images/work_image_5.jpeg");
    background-size: contain;
  }
  .box-1 {
    display: inline-block;
    border: 10px;
    border-color: black;
    max-width: 300px;
  }
  .box-2 {
    display: inline-block;
    border: 0 2 2 2;
    border-color: black;
    max-width: 300px;
  }
  .box-3 {
  display: inline-block;
  border: 0 2 2 2;
  border-color: black;
  max-width: 300px;
}
  /* .image-display */
  .animal{
    display: flex;
    flex-direction: row;
    border:10px rgb(0, 0, 0)

  }

  .image-boxes {
    display: flex;
    justify-content: flex-end;
    padding:10px;
    border: 10px black;
  }

  .article-content {
    flex-wrap: wrap;
    margin-left: 25%;
    padding-bottom: 2%;
  }

  /*
  @media screen and (max-width: 768px) {
    main,
    nav,
    .product {
      flex-direction: column;
    }
  
    .product-slideshow button {
      /* Removes the slideshow buttons from the document flow
      display: none;
    }
    
    /*
    .product-details {
      margin-left: 0;
    }
  }
*/  